
body{
    background-color: #f7bf50;
}
.topp {
    color: black;
    text-align: center;
}

.box {
    border-width: 2px;
    border-style: solid;
    border-color: white;
    padding: 1em;
    color: white;
    background-color: #c4953c;
}
.text{
   
}
